{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <p class="navbar-brand">DnDMotorcycles</p>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index:index' %}">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'rental:index-rental' %}">Rental<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'workshop:index-workshop' %}">WorkShop<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'contact:contact' %}">Contact<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        {% if user.is_authenticated and user.groups.all.count == 0  %}
        <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'user_account:index-account' %}">Account<span class="sr-only">(current)</span></a>
        {% elif user.is_authenticated %}
        <a class="btn btn-outline-success my-2 my-sm-0" href="/admin/">Admin<span class="sr-only">(current)</span></a>
        {% endif %}
    </div>
</nav>

<main role="main">
    <div class="jumbotron">
        <div class="container">
            <br>
            <h1 class="display-4">Contact</h1>
            <p>In DnDMotorcycle we're always waiting for hearing from you, so if you have any question feel free to ask! </p>
        </div>
    </div>
    <div class="container center">
        <div class="list">
            <form method="POST" action="{% url 'contact:contact' %}">
                {% csrf_token %}
                {{ form }}
                <br>
                <br>
                <input type="submit" class="btn btn-secondary" value="Send">
            </form>
            <br>
            {% if messages %}

            {% for message in messages %}
            {% if 'success' in message.tags %}
            <div class="alert alert-success">
                <div class="{{ message.tags }}">{{ message }}</div>
            </div>
            {% endif %}
            {% if 'error' in message.tags %}
            <div class="alert alert-danger">
                <div class="{{ message.tags }}">{{ message }}</div>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
    </div> <!-- /container -->

</main>

<footer class="container">
    <p>&copy; Company 2017-2020</p>
</footer>
{% endblock %}